@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin:0;
    padding:0;
    border-inline: border-box;
    font-family: 'Poppins', sans-serif;
}

                    /*Cabeçalho*/
header {                   
    background:#FFE4C4;
    height: 200px;
} 

                    /* Título no cabeçalho */
header h1 { 
    font-size: 50px;
    font-weight: 20px;
    display: flex;                /* Ativa o flexbox */
    justify-content: center;     /* Centraliza horizontalmente */
    color: orangered;
    border-style: groove;
}

section h1 {
    color: orangered;
    font-size: 20px;
    margin-left: 15px;
}

                    /* Subtítulo*/
header h4 {
    font-size: 20px;
    font-weight: 10px;
    display: flex;                /* Ativa o flexbox */
    justify-content: center;     /* Centraliza horizontalmente */
    color: brown;
}
                    /* Menu de navegação*/
.link-header {
    font-size: 10px;
    font-weight: bold;
    display: flex;                /* Ativa o flexbox */
    align-items: right;
    color: white;
    display: inline-block;
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    margin-left: 15px;
}

.leitura h5 {
    font-size: 13px;
    font-weight: bold;
}

.leitura {
    font-size: 12px;
    background: #FFE4C4;
    height: calc(100vh - 340px);
    width: 130px;
    top: 229px;
    margin-left: 15px;
}
                            /* imagem da leitura em inglês*/
.book-br {
    height: 80px;
    width: 130px;
}

.leitura-ingles h5{
    font-size: 13px;
    font-weight: bold;
}

.leitura-ingles {
    font-size: 12px;
    background: #FFE4C4;
    height: calc(100vh - 340px);
    width: 130px;
    position: absolute;
    left:170px;
    top: 231px;
    margin-left: 5px;
}
                               /*imagem do book-us*/
.book-us {                      
    height: 80px;
    width: 130px;
}
                               /*imagem workout*/
.book-workout {
    height: 80px;
    width: 130px;
}
                              /* classe div-workout*/
.div-workout {
    font-size: 12px;
    background: #FFE4C4;
    height: calc(100vh - 340px);
    width: 130px;
    position: absolute;
    left:330px;
    top: 231px;
    margin-left: 5px;
}
                            /*imagem shadowing*/
.shadowing {
    height: 80px;
    width: 130px;
}
                            /*Classe-div-listenig*/
.div-listening {
    font-size: 12px;
    background: #FFE4C4;
    height: calc(100vh - 340px);
    width: 130px;
    position: absolute;
    left:470px;
    top: 231px;
    margin-left: 25px;
}
                            /*imagem anki*/
.anki {
    height: 80px;
    width: 130px;
}
                            /*classe div-anki*/
.div-anki {
    font-size: 12px;
    background: #FFE4C4;
    height: calc(100vh - 340px);
    width: 130px;
    position: absolute;
    left:610px;
    top: 231px;
    margin-left: 45px;
}
                            /*imagem college*/
.college {
    height: 80px;
    width: 130px;
}
                            /*classe div-faculdade*/
.div-faculdade {
    font-size: 12px;
    background: #FFE4C4;
    height: calc(100vh - 340px);
    width: 130px;
    position: absolute;
    left:750px;
    top: 231px;
    margin-left: 65px;
}
                             /*imagem python*/
.python {
    height: 80px;
    width: 130px;
}
                             /*classe div-python*/
.div-python {
    font-size: 12px;
    background: #FFE4C4;
    height: calc(100vh - 340px);
    width: 130px;
    position: absolute;
    left:890px;
    top: 231px;
    margin-left: 85px;
}
                             /*imagem devclub*/
.devclub {
    height: 80px;
    width: 130px;
}

.div-devclub {
    font-size: 12px;
    background: #FFE4C4;
    height: calc(100vh - 340px);
    width: 130px;
    position: absolute;
    left:1030px;
    top: 231px;
    margin-left:105px;
}

footer {
    background-color: orangered; /* Cor de fundo escura */
    color: white;           /* Cor do texto para contraste */
    padding: 20px;          /* Espaçamento interno */
    text-align: center;
    margin-top: 30px;
}